<!-- SCHEDULE -->

    <div id="grey_bar">
      <div class="container">
         <div id="schedule">
             <h2>Current Schedule</h2>
             <h5>Updated July 10, 2014</h5>
                    <div id="calendar_row">
                        <div id="day"><p>Sunday</p></div>
                        <div id="time"><p>7pm to 8pm</p></div>
                        <div id="class_format"><p>Instruction with Quentin and rolling.</p></div>
                    </div>
                    <div id="calendar_row">
                        <div id="day"><p>Tuesday</p></div>
                        <div id="time"><p>7pm to 8pm</p></div>
                        <div id="class_format"><p>Rolling only.</p></div>
                    </div>
                    <div id="calendar_row">
                        <div id="day"><p>Wednesday</p></div>
                        <div id="time"><p>7:30pm to 9:30pm</p></div>
                        <div id="class_format"><p>Instruction with Billy and rolling.</p></div>
                    </div>
                    <div id="calendar_row">
                        <div id="day"><p>Friday</p></div>
                        <div id="time"><p>7pm to 9pm</p></div>
                        <div id="class_format"><p>Instruction with Billy and rolling.</p></div>
                    </div>
            </div><!--schedule-->
        </div><!--container-->
        <div class="container">
            <div id="footer">
                <a href=""><img src="images/facebook_32.png"></a>
                <a href=""><img src="images/youtube_32.png"></a>
                <p>&#169;2014 Railroad Square Jiu-jitsu.</p>
            </div>
        </div>
    </div><!--grey_bar-->
    
<!--OBSOLETE OR ALTERNATE TABLE FORMAT-->
<!--
    <div id="big">
                    <div id="grey_bar">
                      <div class="container">
                         <div id="schedule">
                             <h2>Current Schedule</h2>
                             <h5>Updated July 10, 2014</h5>
                                 <table class="table">
                                     <tr>
                                         <th>Day</th>
                                         <th>Class Format</th>
                                         <th>Time</th>
                                     </tr>
                                     <tr>
                                         <td>Sunday</td>
                                         <td>Instruction with Quentin and rolling</td>
                                         <td>6pm to 8pm</td>
                                     </tr>
                                     <tr>
                                         <td>Tuesday</td>
                                         <td>One hour open roll</td>
                                         <td>7pm to 8pm</td>
                                     </tr>
                                     <tr>
                                         <td>Thursday</td>
                                         <td>Instruction with Billy and rolling</td>
                                         <td>7:30pm to 9:30pm</td>
                                     </tr>
                                     <tr>
                                         <td>Friday*</td>
                                         <td>Instruction with Billy and rolling</td>
                                         <td>7:30pm to 9:30pm</td>
                                     </tr>
                                 </table>
                             <p>*The first Friday of every month is moved to Saturday to avoid parking problems resulting from "First Friday" in Railroad Square.</p>
                         </div>
                     </div>
                </div>
    </div>
    -->
